**/.idea
**/toolkit
**/.vscode
**/__pycache__
**/output
**/pic
**/log
**/node_modules
config/deploy.yaml
config/nkas.json
data/telemetry.json
**.lock
!yarn.lock
!webapp/src-tauri/Cargo.lock
/nkas.exe
bin/paddleocr/
/tmp
**.acc
data/
.workbuddy/